.root {
    position: relative;
    margin-right: auto;
    margin-left: 35px;
}
.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    width: 400px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 45px;
    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
}
.search {
    position: absolute;
    top: 12px;
    left: 14px;
    width: 24px;
    height: 24px;
    opacity: 0.3;
    margin-right: 10px;
}
.close {
    position: absolute;
    top: 12px;
    right: 14px;
    width: 24px;
    height: 24px;
    opacity: 0.3;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}
